html {
  height: 100%;
  body {
    min-height: 100%;
    overflow-y: scroll;
    font-family: 'Homenaje', sans-serif;
    letter-spacing: 0.15em;
    background-color: #111;
    overflow: hidden;
    &.is-opened-index {
      overflow: auto;
    }
    &.is-picked {
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
  }
  ::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
  }
  

  .introduction {
    position: absolute; 
    left: 0; right: 0;
    bottom: 20px;
    text-align:center;
    z-index: 100000; 
    .title {
      font-size: 48px; 
      text-transform: uppercase; 
      margin: 10px;
      font-family: "terminal-open"
    }
    p {
      font-size: 12px;
      font-family: 'Space Mono', monospace;
    } 
  } 
  

  .category {
    margin: auto;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    line-height: 30px;
    cursor: pointer;
    z-index: 100000;
    &_text {
      writing-mode: vertical-lr;
      text-transform: uppercase;
      letter-spacing: 3px;
    } 
    &--left {
      left: 20px;
      transform: rotate(-180deg)
    }
    &--right {
      right: 20px;
    }
  }
}

// .stagger {
//   opacity: 0;
// } 