html {
  height: 100%;
  ::-webkit-scrollbar { 
    display: none; 
  }
  body {
    min-height: 100%;
    overflow-y: scroll;
    font-family: 'Homenaje', sans-serif;
    letter-spacing: 0.15em;
    background-color: #111;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
    &.is-opened-index {
      overflow: auto;
    }
    &.is-picked {
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
  }
  ::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
  }
  

  .footer {
    position: absolute; 
    left: 0; right: 0;
    bottom: 20px;
    text-align:center;
    z-index: 100000; 
    .title {
      font-size: 48px; 
      text-transform: uppercase; 
      margin: 10px;
      font-family: "terminal-open"
    }
    p {
      font-size: 11px;
      font-family: 'Space Mono', monospace;
    } 
  } 
  

  .category {
    margin: auto;
    position: absolute;
    transform: translateY(-50%);
    line-height: 30px;
    cursor: pointer;
    z-index: 100000;
    font-family: "terminal-open";
    &_text {
      writing-mode: vertical-lr;
      text-transform: uppercase;
      letter-spacing: 3px;
    } 
    &--left {
      top: 44%;
      left: 20px;
      transform: rotate(-180deg)
    }
    &--right {
      top: 50%; 
      right: 20px;
    }
  }
}

// .stagger {
//   opacity: 0;
// } 


.cursor {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  border: 2px solid white;
  border-radius: 100px;
  transition: transform 0.3s ease-out;
  z-index: 99999999;
  pointer-events: none;

  &.is-moving {
    transform: scale(0.7);
  }

  &.is-black {
    border: 2px solid #1A1A1A;
  }
}

@media(min-width: 1441px) {
  html {
    .category {
      &_text {
        font-size: 24px;
      } 
      &--left {
        left: 50px!important;
      }
      &--right {
        right: 50px!important;
      }
    }

    .footer {
      bottom: 50px;
      .title {
        font-size: 64px; 
        margin: 20px;
      }
      p {
        font-size: 14px;
      } 
    } 
  }
}

@media(max-width: 768px) {
  html {
    .category {
      &_text {
        font-size: 18px;
      } 
    }

    .footer {
      bottom: 20px;
      max-width: 80%;
      margin:auto;
      .title {
        font-size: 36px; 
        margin: 20px;
      }
      p {
        font-size: 14px;
      } 
    } 
  }
}

@media(max-width: 500px) {
  html {
    .category {
      &_text {
        font-size: 14px;
      } 
    }

    .footer {
      bottom: 20px;
      max-width: 80%;
      margin:auto;
      .title {
        font-size: 24px; 
        margin: 10px;
      }
      p {
        font-size: 9px;
      } 
    } 
  }
}