html {
  height: 100%;
  ::-webkit-scrollbar { 
    display: none; 
  }
  body {
    min-height: 100%;
    overflow-y: scroll;
    font-family: 'Homenaje', sans-serif;
    letter-spacing: 0.15em;
    background-color: #111;
    overflow: hidden;
    &.is-opened-index {
      overflow: auto;
    }
    &.is-picked {
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
  }
  ::selection {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
  }
  

  .introduction {
    position: absolute; 
    left: 0; right: 0;
    bottom: 20px;
    text-align:center;
    z-index: 100000; 
    .title {
      font-size: 48px; 
      text-transform: uppercase; 
      margin: 10px;
      font-family: "terminal-open"
    }
    p {
      font-size: 12px;
      font-family: 'Space Mono', monospace;
    } 
  } 
  

  .category {
    margin: auto;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    line-height: 30px;
    cursor: pointer;
    z-index: 100000;
    &_text {
      writing-mode: vertical-lr;
      text-transform: uppercase;
      letter-spacing: 3px;
    } 
    &--left {
      left: 20px;
      transform: rotate(-180deg)
    }
    &--right {
      right: 20px;
    }
  }
}

// .stagger {
//   opacity: 0;
// } 


.cursor {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  border: 2px solid white;
  border-radius: 100px;
  transition: transform 0.3s ease-out;
  z-index: 100000000;
  pointer-events: none;

  &.is-moving {
    transform: scale(0.7);
  }
}

.test {
  position: absolute; 
  z-index: 9999999;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -30%);
  max-width: 500px; 
  height: 432px;
  background: #1A1A1A; 
  font-family: 'Space Mono', monospace;
  display:none;
  opacity: 0;


  
  .header {
    display: flex;
    border: 1px solid white;
    font-size: 11px;
    padding: 10px;

    .date {
      color:white;
    }

    .origin {
      margin-left: 20px;
    }

    .cross {
      margin-left: auto;
      width:15px;
      &:hover {
        cursor:pointer;
      } 
    } 
  } 

  .grid {
    display:flex;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

    .left {
      border-right: 1px solid white;
      display:flex;
      
      a {
        align-self: flex-end;
        display: flex;
        .arrow {
          background: white;
          padding: 10px;
        }
      }
    } 

    .right {
      padding: 20px;
      overflow: scroll; 
      max-height: 350px;
      .title {
        font-size: 22px; 
        font-weight: bold;
        max-width: 70%;
        margin: 0px 0px 20px;
      }

      .content {
        display: flex;
      

        p:first-child {
          max-width: 20%;
          font-size: 11px;
        }

        p:last-child {
          max-width: 80%;
          margin-left: 20px;
          font-size: 9px;
        }
      }
      
    }
  }
}

p {
  margin: 0px;
}

.p--italic {
}

.p--grey {
  color: grey;
}

