.modal, .concept-modal, .table-modal {
    background: #1A1A1A;
    height: 100vh; 
    width: 100vw;
    z-index: 2000000;
}
  
.modal {
    position: relative; 
}

.concept-modal, .table-modal {
    position: absolute;
    top: 0%;
}

.table-modal {
    left: 100%; 
    overflow: scroll;

    .title {
        font-family: 'Space Mono', monospace;
        font-size: 24px; 
        line-height: 30px;
        margin: 80px 0px 80px 180px; 
        max-width: 320px;
    }    
}

.concept-modal {
    left: -100%; 
    overflow:scroll;


    .title {
        font-family: 'Space Mono', monospace;
        font-size: 24px; 
        line-height: 30px;
        margin: 80px 0px 80px 180px; 
    }  

    .concept-modal__content {
        margin: 0px 180px;

        .header {
            max-width: 600px;

            .subtitle {
                font-family: 'Space Mono', monospace;
                font-weight: bold;
                font-size: 80px;
                line-height: 88px;
                margin-bottom: 20px;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                color: #1A1A1A;
                &:nth-child(1) {
                margin-top: 80px!important;
                }
            }

            .excerpt {
                font-family: 'helvetica';
                font-size: 16px; 
                margin-bottom: 20px;
                letter-spacing: 2px;
                line-height: 22px;
            }
        }
        
        .content {
            display: flex;
            justify-content: space-around;

            &:last-child {
                margin-bottom: 80px;
            }

            .content__text {
                font-family: 'helvetica'; 
                font-size: 14px; 
                line-height: 19px;
                letter-spacing: 2px;

                &:first-child {
                margin-right: 50px;
                }

                &:last-child {
                margin-left: 50px;
                }
            }
        }
    }
} 



.items {
    display: flex;
    flex-wrap:wrap;
    margin: 0px 160px 80px 160px;
  
    .item-container {
      border-left: white solid 1px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      justify-content: space-evenly;
      -ms-flex: 0 0 20%;
      display: flex;
      align-items: center;
      flex: 0 0 19%;
      padding: 10px 0px 10px 10px;
      margin-top: 30px;
      margin: 25px;
      -webkit-transition: background-color 0.4s ease-in-out;
      transition: background-color 0.4s ease-in-out;
      cursor: pointer;
      position: relative;
  
      a.link {
        position: absolute; 
        width: 100%; 
        height: 100%;
      }
  
      img {
        width: 20px;
      }


      .content {
          max-width: 120px;
      }
  
      p {
        font-size: 12px; 
        margin-top: 10px;
        color: grey;
      }
  
      &.is-white {
        background-color: white; 
  
        a {
          color: #1A1A1A;
        }
      }
    }
  }
  