.modal, .concept-modal, .table-modal {
    background: #1A1A1A;
    height: 100vh; 
    width: 100vw;
    z-index: 2000000;
}
  
.modal {
    position: relative; 
}

.concept-modal, .table-modal {
    position: absolute;
    top: 0%;
}

.table-modal {
    left: 100%; 
    overflow: scroll;

    .title {
        font-family: 'Space Mono', monospace;
        font-size: 24px; 
        line-height: 30px;
        margin: 80px 0px 80px 180px; 
        max-width: 320px;
    }    
}

.concept-modal {
    left: -100%; 
    overflow:scroll;


    .title {
        font-family: 'Space Mono', monospace;
        font-size: 24px; 
        line-height: 30px;
        margin: 80px 0px 80px 180px; 
    }  

    .concept-modal__content {
        margin: 0px 180px;

        .header {
            max-width: 600px;

            .subtitle {
                font-family: 'Space Mono', monospace;
                font-weight: bold;
                font-size: 80px;
                line-height: 88px;
                margin-bottom: 20px;
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                color: #1A1A1A;
                &:nth-child(1) {
                    margin-top: 80px;
                }
            }

            .excerpt {
                font-family: 'helvetica';
                font-size: 16px; 
                margin-bottom: 20px;
                letter-spacing: 2px;
                line-height: 22px;
            }
        }
        
        .content {
            display: flex;
            justify-content: space-around;

            &:last-child {
                margin-bottom: 80px;
            }

            .content__text {
                font-family: 'helvetica'; 
                font-size: 14px; 
                line-height: 19px;
                letter-spacing: 2px;

                &:first-child {
                margin-right: 50px;
                }

                &:last-child {
                margin-left: 50px;
                }
            }
        }
    }
} 



.items {
    display: flex;
    flex-wrap:wrap;
    margin: 0px 160px 80px 160px;
  
    .item-container {
      border-left: white solid 1px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      justify-content: space-evenly;
      -ms-flex: 0 0 20%;
      display: flex;
      align-items: center;
      flex: 0 0 19%;
      padding: 10px 0px 10px 10px;
      margin-top: 30px;
      margin: 25px;
      -webkit-transition: background-color 0.4s ease-in-out;
      transition: background-color 0.4s ease-in-out;
      cursor: pointer;
      position: relative;
  
      a.link {
        position: absolute; 
        width: 100%; 
        height: 100%;
      }
  
      img {
        width: 20px;
      }


      .content {
          max-width: 120px;
      }
  
      p {
        font-size: 12px; 
        margin-top: 10px;
        color: grey;
      }
  
      &.is-white {
        background-color: white; 
  
        a {
          color: #1A1A1A;
        }
      }
    }
}
  
@media(min-width: 1441px) {
    .table-modal, .concept-modal {
        .title {
            font-size: 36px; 
            line-height: 40px;
            margin: 100px 0px 100px 360px; 
        }    

        .concept-modal__content {
            margin: 0px 360px;
    
            .header {
                max-width: 700px;
    
                .subtitle {
                    font-size: 120px;
                    line-height: 140px;
                    margin-bottom: 60px!important;
                }
        
                .excerpt { 
                    font-size: 24px; 
                    line-height: 36px;
                }
            }
            
            .content {
                .content__text {
                    font-size: 20px;
                    line-height: 30px;
                }   
            }
        } 
    }

    .items {
        margin: 0px 160px 80px 360px;
        .item-container {
            
            a.link {
              position: absolute; 
              width: 100%; 
              height: 100%;
            }
        
            img {
              width: 25px;
            }
      
      
            .content {
                max-width: 120px;
            }
        
            p {
              font-size: 18px; 
              margin-top: 10px;
              color: grey;
            }
        
            &.is-white {
              background-color: white; 
        
                a {
                    color: #1A1A1A;
                }
            }
        }
    }

    .table-modal {
        .title {
            max-width: 100%;
        }

        .link__text {
            font-size: 20px;
        }
    }
    
}  


@media(max-width: 768px) {
    .table-modal, .concept-modal {
        .title {
            margin: 80px 0px 40px 40px;
        }    

        .concept-modal__content {
            margin: 0px 40px;
    
            .header {
                max-width: 700px;
    
                .subtitle {
                    font-size: 44px;
                    line-height: 50px;
                    margin-top:40px!important;
                    margin-bottom: 40px!important;
                }
        
                .excerpt { 
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            
            .content {
                .content__text {
                    font-size: 18px;
                    line-height: 24px;
                }   
            }
        } 
    }

    .items {
        margin: 0px 40px 40px 0px;
        .item-container {
            display: block;
            margin: 20px 20px 20px 40px;
            flex: none;
            width: 100%!important;
            padding-left: 30px;
            
            a.link {
              position: absolute; 
              width: 100%; 
              height: 100%;
            }
        
            img {
              display:none;
            }
      
      
            .content {
                max-width: 100%;
            }
        
            p {
              font-size: 18px; 
              margin-top: 10px;
              color: grey;
            }
        
            &.is-white {
              background-color: white; 
        
                a {
                    color: #1A1A1A;
                }
            }
        }
    }

    .table-modal {
        .title {
            max-width: 420px;
        }

        .link__text {
            font-size: 20px;
        }
    }

    .content {
        display:block!important;

        &__text {
            margin: 40px 0px!important; 
        }
    }
    
}  


@media(max-width: 500px) {
    .cursor { 
        display: none;
    }
    .table-modal, .concept-modal {
        .title {
            margin: 80px 0px 40px 40px;
        }    

        .concept-modal__content {
            margin: 0px 40px;
    
            .header {
                max-width: 700px;
    
                .subtitle {
                    font-size: 44px;
                    line-height: 50px;
                    margin-top:40px!important;
                    margin-bottom: 40px!important;
                }
        
                .excerpt { 
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            
            .content {
                .content__text {
                    font-size: 14px;
                    line-height: 20px;
                }   
            }
        } 
    }

    .items {
        margin: 0px 40px 40px 0px;
        .item-container {
            display: block;
            margin: 20px 20px 20px 40px;
            flex: none;
            width: 100%!important;
            padding-left: 30px;
            
            a.link {
              position: absolute; 
              width: 100%; 
              height: 100%;
            }
        
            img {
              display:none;
            }
      
      
            .content {
                max-width: 100%;
            }
        
            p {
              font-size: 18px; 
              margin-top: 10px;
              color: grey;
            }
        
            &.is-white {
              background-color: white; 
        
                a {
                    color: #1A1A1A;
                }
            }
        }
    }

    .table-modal {
        .title {
            max-width: 100%;
            font-size: 16px; 
            line-height:24px;
        }


        .link__text {
            font-size: 14px;
        }
        
        p {
            font-size: 12px!important;
        }
    }

    .content {
        display:block!important;

        &__text {
            margin: 40px 0px!important; 
        }
    }
    
}  