extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  include ./_modules/_sketch-outline.pug
  include ./_modules/_loader.pug
  include ./_modules/_cursor.pug
  include ./_modules/_article.pug
  include ./_modules/_footer.pug
  include ./_modules/_category.pug
  include ./_modules/_table-modal.pug
  include ./_modules/_concept-modal.pug
  
  canvas(id="canvas-webgl", class="p-canvas-webgl")







      
      

    //- div(class="article-container")
    //-   div(class="article")
    //-     h3(class="stagger article__title") Titre de l'article
    //-     p(class="stagger article__origin") Ecrit par /// le /// 
    //-     p(class="stagger article__source") Le Monde
    //-     p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde


