extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  include ./_modules/_sketch-outline.pug

  div(class="cursor")
  
  canvas(id="canvas-webgl", class="p-canvas-webgl")
  div(class="container-loader")
    div(class="loader")

  //- div(class="modal")
  //-   button(class="btn btn-close") close
  //-   div(class="articlecontainer")
  //-     div(class="article")
  //-       h1(class="stagger article__title") Titre de l'article
  //-       aside(class="stagger article__origin") Ecrit par /// le /// 
  //-       aside(class="stagger article__source") Le Monde
  //-       p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde


  div(class="test")
    div(class="header")
      p(class="date article__date") 22.04.18
      p(class="origin") Par 
        span(class="article__author") author
        | , 
        span(class="article__source") source
      img(class="cross" src="../img/svg/cross.svg", alt="cross")


    div(class="grid")
      div(class="left")
        a(href="https://github.com/antoineabbou" target="blank")
          img(class="link arrow" src="../img/svg/arrow.svg", alt="arrow")
      
      div(class="right")
        h1(class="title article__title") Lorem Ipsum ? Lorem !
        div(class="content")
          p(class="p--italic p--grey article__theme") Lorem ipsum dolor sit amet
          p(class="article__excerpt") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



  div(class="introduction")
    h1(class="title") Machine learning
    p Design by Robin Blanc--Beyne & Manon Carrour | Development by Antoine Abbou and Rémi Caillot

  div(class="category category--left") 
    p(class="category_text concept") CONCEPT
  
  div(class="category category--right") 
    p(class="category_text table-of-contents") TABLE OF CONTENTS



  div(class="table-modal")
    img(class="btn btn-close-table" src="../img/svg/cross-black.svg")
    div(class="article-container")
      div(class="article")
        h3(class="stagger article__title") Titre de l'article
        p(class="stagger article__origin") Ecrit par /// le /// 
        p(class="stagger article__source") Le Monde
        p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde

  
  div(class="concept-modal")
    div(class="btn btn-close-concept")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title") Machine
      br
      | learning
      
    div(class="concept-modal__content concept")
      div(class="header")
        h1(class="subtitle") Concept
        p(class="excerpt") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      
      div(class="content") 
        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    div(class="concept-modal__content analysis")
      div(class="header")
        h1(class="subtitle") Analyse
        p(class="excerpt")

      div(class="content")
        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p(class="content__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


      
      

    //- div(class="article-container")
    //-   div(class="article")
    //-     h3(class="stagger article__title") Titre de l'article
    //-     p(class="stagger article__origin") Ecrit par /// le /// 
    //-     p(class="stagger article__source") Le Monde
    //-     p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde


