extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  include ./_modules/_sketch-outline.pug

  div(class="cursor")
  
  canvas(id="canvas-webgl", class="p-canvas-webgl")
  div(class="container-loader")
    div(class="loader")

  //- div(class="modal")
  //-   button(class="btn btn-close") close
  //-   div(class="articlecontainer")
  //-     div(class="article")
  //-       h1(class="stagger article__title") Titre de l'article
  //-       aside(class="stagger article__origin") Ecrit par /// le /// 
  //-       aside(class="stagger article__source") Le Monde
  //-       p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde


  div(class="test")
    div(class="header")
      p(class="date article__date") 22.04.18
      p(class="origin") Par 
        span(class="article__author") author
        | , 
        span(class="article__source") source
      img(class="cross" src="../img/svg/cross.svg", alt="cross")


    div(class="grid")
      div(class="left")
        a(href="https://github.com/antoineabbou" target="blank")
          img(class="link arrow" src="../img/svg/arrow.svg", alt="arrow")
      
      div(class="right")
        h1(class="title article__title") Lorem Ipsum ? Lorem !
        div(class="content")
          p(class="p--italic p--grey article__theme") Lorem ipsum dolor sit amet
          p(class="article__excerpt") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



  div(class="introduction")
    h1(class="title") Machine learning
    p Design by Robin Blanc--Beyne & Manon Carrour | Development by Antoine Abbou and Rémi Caillot

  div(class="category category--left") 
    p(class="category_text concept") CONCEPT
  
  div(class="category category--right") 
    p(class="category_text table-of-contents") TABLE OF CONTENTS



  div(class="table-modal")
    div(class="btn btn-close-table")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title stagger") Table of contents - Sitography
    div(class="items stagger")
      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")
      
      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      
  
  div(class="concept-modal")
    div(class="btn btn-close-concept")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title stagger") Machine
      br
      | learning
      
    div(class="concept-modal__content concept")
      div(class="header")
        h1(class="subtitle stagger") Concept
        p(class="excerpt stagger") As we have seen previously, machine learning is all about <span class="tick tick--slow">identifying</span>, <span class="tick tick--slow">sort</span> and <span class="tick tick--slow">analyze</span> data. Various algorithms could process the same set of data and give <span class="tick tick--fast"> distinct outcomes </span>. We decided to use particles to represent those imaginary datas. Everytime the user hovers an article, the algorithms changes and so does the shape. 

    div(class="concept-modal__content analysis")
      div(class="header stagger")
        h1(class="subtitle stagger") Analysis

      div(class="content")
        p(class="content__text stagger") Machine learning consists of <span class="tick tick--fast"> multiple techniques </span> used so as to give computers the ability to learn. Those methods are based on <span class="tick tick--slow"> data and algorithms </span> that analyse them. Data is the key ingredient that makes machine learning possible. Indeed, there’s a lot of excitement about advances in machine learning algorithms but you can have machine learning without sophisticated algorithms, but not without <span class="tick tick--fast"> good data. </span> There is no specific field of application for machine learning as it can be used in virtually any discipline. We have found researches in science, art, health, education...

        p(class="content__text stagger") Machine learning techniques are <span class="tick tick--fast"> countless </span> : from <span class="tick tick--slow"> neuronal-network </span> (i.e. Algorithms that are designed to analyse data like a brain would process them), to <span class="tick tick--slow"> very simple algorithms </span> that explore very narrow sets of data. The field of Artificial Intelligence has seen a major acceleration in recent years, especially in the specialization of machine learning algorithms, controlled by large corporations with access to huge amounts of <span class="tick tick--slow"> personal user data </span> and <span class="tick tick--slow"> computing power. </span>

        p(class="content__text stagger") Machine learning has been around us for a while now. As designer, we use softwares that contains artificial intelligence technologies. In 2015, Adobe released Photoshop CS5 with « content aware », an algorithm that « learned » to identify skin, textures, objects, water to <span class="tick tick--slow"> understand </span> the content of a picture. It can be used to <span class="tick tick--slow"> automatically </span> erase elements or texture from a picture. As designers we find it important to understand and discuss these <span class="tick tick--fast"> fundamental forces </span> that change our society. 



      
      

    //- div(class="article-container")
    //-   div(class="article")
    //-     h3(class="stagger article__title") Titre de l'article
    //-     p(class="stagger article__origin") Ecrit par /// le /// 
    //-     p(class="stagger article__source") Le Monde
    //-     p(class="stagger article__excerpt") Ceci est un résumé de ce putain d'article de merde


