.l-page {
  &--white {
    color: #fff;
    a {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }
  &--black {
    color: white;
    a {
      color: white;
    }
    svg {
      fill: white;
    }
  }
}

