div(class="article")
    div(class="header")
        p(class="date article__date")
        p(class="origin") 
          span(class="article__author") 
        img(class="cross" src="../img/svg/cross.svg", alt="cross")


    div(class="grid")
      div(class="left")
        a(class="article__link" href="https://github.com/antoineabbou" target="blank")
          img(class="link arrow" src="../img/svg/arrow.svg", alt="arrow")
      
      div(class="right")
        h1(class="title article__title")
        div(class="content")
          p(class="p--italic p--grey article__theme") 
          p(class="article__excerpt")