div(class="concept-modal")
    div(class="btn btn-close-concept")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title stagger") Machine
      br
      | learning
      
    div(class="concept-modal__content concept")
      div(class="header")
        h1(class="subtitle stagger") Concept
        p(class="excerpt stagger") As we have seen previously, machine learning is all about <span class="tick tick--slow">identifying</span>, <span class="tick tick--slow">sort</span> and <span class="tick tick--slow">analyze</span> data. Various algorithms could process the same set of data and give <span class="tick tick--fast"> distinct outcomes </span>. We decided to use particles to represent those imaginary datas. Everytime the user hovers an article, the algorithms changes and so does the shape. 

    div(class="concept-modal__content analysis")
      div(class="header stagger")
        h1(class="subtitle stagger") Analysis

      div(class="content")
        p(class="content__text stagger") Machine learning consists of <span class="tick tick--fast"> multiple techniques </span> used so as to give computers the ability to learn. Those methods are based on <span class="tick tick--slow"> data and algorithms </span> that analyse them. Data is the key ingredient that makes machine learning possible. Indeed, there’s a lot of excitement about advances in machine learning algorithms but you can have machine learning without sophisticated algorithms, but not without <span class="tick tick--fast"> good data. </span> There is no specific field of application for machine learning as it can be used in virtually any discipline. We have found researches in science, art, health, education...

        p(class="content__text stagger") Machine learning techniques are <span class="tick tick--fast"> countless </span> : from <span class="tick tick--slow"> neuronal-network </span> (i.e. Algorithms that are designed to analyse data like a brain would process them), to <span class="tick tick--slow"> very simple algorithms </span> that explore very narrow sets of data. The field of Artificial Intelligence has seen a major acceleration in recent years, especially in the specialization of machine learning algorithms, controlled by large corporations with access to huge amounts of <span class="tick tick--slow"> personal user data </span> and <span class="tick tick--slow"> computing power. </span>

        p(class="content__text stagger") Machine learning has been around us for a while now. As designer, we use softwares that contains artificial intelligence technologies. In 2015, Adobe released Photoshop CS5 with « content aware », an algorithm that « learned » to identify skin, textures, objects, water to <span class="tick tick--slow"> understand </span> the content of a picture. It can be used to <span class="tick tick--slow"> automatically </span> erase elements or texture from a picture. As designers we find it important to understand and discuss these <span class="tick tick--fast"> fundamental forces </span> that change our society. 
