div(class="table-modal")
    div(class="btn btn-close-table")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title stagger") Table of contents - Sitography
    div(class="items stagger")
      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")
      
      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="#" target="_blank")
          div(class="content")
            a(href="#" target="_blank") www.loremipsum.fr
            p Site d'actualité 
          img(class="arrow" src="../img/svg/right-arrow.svg")