div(class="table-modal")
    div(class="btn btn-close-table")
      img(src="../img/svg/cross-black.svg" alt="close-icon")
    h2(class="title stagger") Table of contents - Sitography
    div(class="items stagger")
      div(class="item-container")
        a(class="link" href="http://research.mozilla.org" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") research.mozilla.org
            p Search engine site
          img(class="arrow" src="../img/svg/right-arrow.svg")
      
      div(class="item-container")
        a(class="link" href="http://lemondeinformatique.fr" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") lemondeinformatique.fr
            p Newspaper website
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://sciencesetavenir.fr" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") sciencesetavenir.fr
            p Information/ Newspaper website
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://journaldunet.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") journaldunet.com
            p Information website
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://bbc.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") bbc.com
            p Information chanel website
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://sciencesetavenir.fr" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") sciencesetavenir.fr
            p Information / Newspaper website 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://futura-sciences.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") futura-sciences.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://wired.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") wired.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://phys.org" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") phys.org
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://actuia.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") actuia.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://news.stanford.edu" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") news.stanford.edu
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://silicon.fr" target="_blank")
          div(class="content")
            a(href="#" target="_blank") silicon.fr
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://bloomberg.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") bloomberg.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://csa.eu" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") csa.eu
            p Website of a public administration
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://daily.bandcamp.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") daily.bandcamp.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://franceculture.fr" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") franceculture.fr
            p Radio website 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://yamaha.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") yamaha.com
            p Brand website 
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://technologyreview.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") technologyreview.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://venturebeat.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") venturebeat.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")

      div(class="item-container")
        a(class="link" href="http://theregister.co.uk" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") theregister.co.uk
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")
      
      div(class="item-container")
        a(class="link" href="http://lejdd.fr" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") lejdd.fr
            p Newspaper website
          img(class="arrow" src="../img/svg/right-arrow.svg")
      
      div(class="item-container")
        a(class="link" href="http://arstechnica.com" target="_blank")
          div(class="content")
            a(class="link__text" href="#" target="_blank") arstechnica.com
            p Online information media
          img(class="arrow" src="../img/svg/right-arrow.svg")