.p-canvas-webgl {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container-loader { 
  width: 100vw;
  height: 100vh;
  position: relative; 
  z-index:100000000;
  background: #1A1A1A;

  &.show {
    background-color:red;
  } 
}

.loader,
.loader::before,
.loader::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loader {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loader::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loader::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.modal, .concept-modal, .table-modal {
  background: #1A1A1A;
  height: 100vh; 
  width: 100vw;
  z-index: 2000000;
}

.modal {
  position: relative; 
}



.concept-modal, .table-modal {
  position: absolute;
  top: 0%;
}

.table-modal {
  left: 100%; 
  overflow: scroll;

  .title {
    font-family: 'Space Mono', monospace;
    font-size: 24px; 
    line-height: 30px;
    margin: 80px 0px 80px 180px; 
  }    
}

.concept-modal {
  left: -100%; 
  // left: 0%; 
  overflow:scroll;


  .title {
    font-family: 'Space Mono', monospace;
    font-size: 24px; 
    line-height: 30px;
    margin: 80px 0px 80px 180px; 
  }  

  .concept-modal__content {
    margin: 0px 180px;

    .header {
      max-width: 600px;

      .subtitle {
        font-family: 'Space Mono', monospace;
        font-weight: bold;
        font-size: 80px;
        line-height: 88px;
        margin-bottom: 20px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color: #1A1A1A;
        &:nth-child(1) {
          margin-top: 80px!important;
        }
      }

      .excerpt {
        font-family: 'helvetica';
        font-size: 16px; 
        margin-bottom: 20px;
        letter-spacing: 2px;
        line-height: 22px;
      }
    }
    
    .content {
      display: flex;
      align-items: center; 
      justify-content: space-around;

      &:last-child {
        margin-bottom: 80px;
      }

      .content__text {
        font-family: 'helvetica'; 
        font-size: 14px; 
        line-height: 19px;
        letter-spacing: 2px;

        &:first-child {
          margin-right: 50px;
        }

        &:last-child {
          margin-left: 50px;
        }
      }
    }
  }
} 


.btn-close-concept, .btn-close-table {
  width:20px;
  height:20px;
  position: absolute;
  top: 0; 
  right: 0;
  padding: 10px;
  background:white;
  z-index: 100000000000;
  cursor: pointer;
  img {
    width: 100%
  }
}



.items {
  display: flex;
  flex-wrap:wrap;
  margin: 0px 160px;

  .item-container {
    border-left: white solid 1px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    justify-content: space-evenly;
    -ms-flex: 0 0 20%;
    display: flex;
    align-items: center;
    flex: 0 0 19%;
    padding: 10px 0px 10px 10px;
    margin-top: 30px;
    margin: 25px;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
    position: relative;

    a.link {
      position: absolute; 
      width: 100%; 
      height: 100%;
    }

    img {
      width: 20px;
    }

    p {
      font-size: 12px; 
      margin-top: 10px;
      color: grey;
    }

    &.is-white {
      background-color: white; 

      a {
        color: #1A1A1A;
      }
    }
  }
}

.text:before {
  content: ' ';
  display: inline-block;
}

.text--black {
  color: #1A1A1A;
  transition: color 0.4s ease-in
}

.text--tick {
  color: #1A1A1A; 
}

.no-margin {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.tick {
  color: white;

  &--slow {
    transition: color 0.4s ease-in
  }

}

.ticking {
  color: #1A1A1A;
}

