block vars

doctype html
html(lang="fr")
  head
    include ../_layout/_head.pug
  body
    .l-page(
      class = 'l-page--black',
    )
      block content
    script(src="/machine-learning/js/main.js")
