block vars

doctype html
html(lang="fr")
  head
    include ../_layout/_head.pug
  body
    .l-page(
      class = 'l-page--black',
    )
      block content
        .p-utility-menu
          a.c-button(
            href = "/sketch-threejs/",
            class = 'c-button--black',
            )
            span.c-button__icon.c-button__icon--back(
              class = 'c-button__icon--black'
              )
            span.c-button__label
    script(src="/sketch-threejs/js/main.js")
